/* * {
    outline: 1px solid red;
} */

.backgroundimg {
    background-image: url("https://i.kinja-img.com/gawker-media/image/upload/t_original/sz0ctbadayshmiid7ebo.jpg");
    background-size: cover;
}

.center {
    margin: auto;
}

.row {
    padding: 2rem;
}

.m-t-8 {
    margin-top: 8rem;
}

.p-t-5 {
    padding-top: 5rem;
}

.backgroundmid {
    background-color: #baa584;
}

hov:hover {
   box-shadow: 0px 0px 30px white;
}